

body {
   font-family: Montserrat;
}
h1{
    font-size: 32px;
    font-weight: bold;
    color: #3b3d4d;
}
h2{
    font-size: 26px;
    font-weight: bold;
    color: #3b3d4d;
}
.btn {
    font-family: Montserrat;
}
.viewPassword{
    padding: 0;
    width: 25px;
    height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
    border: none;
    background: none;
}
.btn-style-chico{
    background: #337AB7;
    mix-blend-mode: normal;
    border: 1.5px solid rgba(59, 61, 77, 0.15);
    border-radius: 8px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
    .btn-style-chico:hover{
    background-color:rgba(171, 134, 39, 0.9);
    color: #fff;
}
.btn-outline-danger{
    background: #ffffff;
    mix-blend-mode: normal;
    border: 1.5px solid rgba(59, 61, 77, 0.15);
    border-radius: 8px;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/*Advertencia de errores*/
/*Formato de error por defecto*/
.formulario_input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    color:red;
}

/*Formato de error activo*/
.formulario_input-error-activo{
    font-size: 12px;
    margin-bottom: 0;
    display: block;
}
.phone:focus{
    border: none !important;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.alert.alert-warning {
    position: unset !important;
}
/*  Cookie cartel  */
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000; /* Texto negro */
    padding: 0;
    outline: none;
  }
  
  .close-button:hover {
    transform: scale(1.2);
  }
  body .content-flag {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
  }
  body .content-flag.mostrar {
    opacity: 1;
    z-index: 1032;
  }

  body .content-flag.ad {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
  }
  body .content-flag.ad.mostrar {
    opacity: 1;
    z-index: 1032;
  }

  body .content-flag.ad.mostrar img{
    display: block;
    height: 100%;
    max-height: 720px;
  }






  
  body .mascara-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 48%); /* Color de fondo con transparencia */
    backdrop-filter: blur(5px); /* Aplicar el efecto de desenfoque a la máscara */
    z-index: -1;
    opacity: 0;
    transition: all 0.1s ease;
  }
  
  body .mascara-blur.mostrar {
    opacity: 1;
    z-index: 1031;
  }
  .ajustar {
    max-width: min-content;
    object-fit: cover !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.9;
  }
  