.cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 7px;
    border: 1px solid #BBBBBB;
    text-align: center;
}

p {
    font-size: 20px;
}

.container {
    margin-bottom: 50px;
}

.bd {
    border-right: 1px solid #BBBBBB;
}

@media (max-width: 480px) {
    .cuadricula {
        grid-template-columns: 1fr;
    }

    .colores-antes {
        grid-row: 2 / 3;
    }

    .nombre-antes {
        grid-row: 6 / 7;
    }

    .bd {
        border-right: none;
    }

    .imagen-logo {
        width: 90%;
        height: 90%;
    }

    .grid-logos {
        grid-row: 10 / 11;
    }

    .grid-cartel {
        grid-row: 14 / 15;
    }

    .pat-anterior {
        grid-row: 20 / 21;
    }
}

.elemento-cuadricula h4 {
    color: #FFF;
    padding: 10px;
}

.elemento-cuadricula h5 {
    color: #565656;
    font-size: 22px;
    padding: 10px;
}

.textoCuadricula {
    font-size: 20px;
}


.colorInput {
    width: 150px;
    height: 150px;
    border: none;
}

.colorInput:hover {
    cursor: pointer;
}

.contenido-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nombreTitulo {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenedor-plantillasA1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.boton-dsg {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    padding: 10px 0;
    width: 80%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.boton-dsg:hover {
    color: white;
}

.boton-dsg--amarillo {
    background-color: #EBC961;
}

.boton-dsg--azul {
    background-color: #4581da;
}

/* Carusel */

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 400px;
    height: 400px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .swiper {
        width: 250px;
        height: 250px;
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.banner-titulo,
.banner-imagen {
    grid-column: 1 / 3;
}

@media (max-width: 480px) {
    .banner-titulo,
    .banner-imagen {
        grid-column: 1 / 1;
    }
}

.banner-imagen {
    padding-bottom: 20px;
}

.banner-botones {
    padding: 0 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px !important;
}

@media (max-width: 480px) {
    .banner-botones {
        flex-direction: column;
        align-items: center;
    }
}

.campo-pat {
    padding-bottom: 15px;
}

.campo-pat label {
    font-size: 20px;
}
